@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

body {
    background: repeating-linear-gradient(90deg, hotpink 0%,royalblue 100%);
}

#root {
    display: grid;
    grid-template-areas:
        "nav"
        "header"
        "body"
        "footer";
    grid-template-rows: min-content min-content auto min-content;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 675px;
    min-width: 300px;
    min-height: 100vh;
}

h1, h2, h3, label {
    text-transform: uppercase;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    background-color: powderblue;
    font-family: "IBM Plex Mono", monospace;
}

h1 {
    border-bottom: dotted 1px black;
    color: magenta;
    letter-spacing: 0.8em;
}

h2 {
    color: royalblue;
    letter-spacing: 0.1em;
    font-size: 1.3em;
}

h3, label {
    border-bottom: dotted 1px black;
    color: palevioletred;
    letter-spacing: 0.4em;
}

label {
    padding-top: 5px;
    border: none;
}

.post>.date {
    display: block;
    margin-top: -40px;
    padding-bottom: 2px;
    text-align: right;
    text-transform: uppercase;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    color: palevioletred;
    background-color: powderblue;
    letter-spacing: 0.1em;
    font-family: "IBM Plex Mono", monospace;
}

div {
    padding: 3px;
}

.headshot {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.headshot>img {
    padding: 3px;
    border: solid 1px black;
}

ol {
    list-style: upper-roman;
}

ul {
    list-style: square;
}

#nav {
    grid-area: nav;
    position: sticky;
    top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: -20px;
    background: repeating-linear-gradient(0deg, hotpink 0%,royalblue 100%);;
    font-family: "IBM Plex Mono", monospace;
}

#nav>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    text-transform: uppercase;
    font-size: 1.3em;
    letter-spacing: 0.2em;
}

#nav>ul>li {
    display: inline;
    position: relative;
}

#nav a+ul {
    display: none;
    position: absolute;
    top: 25px;
    left: -25px;
    list-style: none;
    word-wrap: none;
    word-break: keep-all;
}

#nav a+ul:hover,
#nav a:hover+ul {
    display: flex;
    flex-direction: column;
}

#nav li {
    background-color: fuchsia;
}

#nav li:nth-child(2n) {
    background-color: powderblue;
}

#header {
    grid-area: header;
    padding-top: 0;
    background: powderblue;
}

#body {
    grid-area: body;
    background: powderblue;
}

#footer {
    grid-area: footer;
    position: sticky;
    background: powderblue;
}

form {
    display: flex;
    flex-direction: column;
}

input, select, textarea {
    margin-bottom: 3px;
}

.block {
    display: block;
}

a:enabled {
    color: #000;
}

a:visited {
    color: #000;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

@media screen and (min-width: 675px) {
    #root {
        grid-template-areas:
        "nav header"
        "nav body"
        "nav footer";
        grid-template-rows: min-content auto min-content;
        grid-template-columns: 20% auto;
        min-height: 100vh;
    }

    #nav {
        margin: 0;
    }

    #nav>ul {
        flex-direction: column;
    }

    #nav a+ul {
        top: 0;
        left: 100px;
    }

    #nav li>ul>li {
        width: 100px;
    }

    #nav a+ul:hover,
    #nav a:hover+ul {
        display: flex;
        flex-direction: row;
    }
}