body {
    background: #ccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    min-width: 300px;
}

#header {
    margin-top: 50px;
}

h1, h2, h3 {
    text-transform: uppercase;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    background-color: powderblue;
    font-family: full-width;
}

h1 {
    border-bottom: dotted 1px black;
    color: magenta;
    letter-spacing: 0.8em;
}

h2 {
    color: royalblue;
    letter-spacing: 0.1em;
    font-size: 1.3em;
}

h3 {
    border-bottom: dotted 1px black;
    color: palevioletred;
    letter-spacing: 0.4em;
}

.post>.date {
    display: block;
    margin-top: -40px;
    padding-bottom: 2px;
    text-align: right;
    text-transform: uppercase;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    color: palevioletred;
    background-color: powderblue;
    letter-spacing: 0.1em;
    font-family: full-width;
}

div {
    padding: 3px;
}

img.headshot {
    padding: 3px;
    border: solid 1px black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.icon {
    width: 16px;
    padding-right: 5px;
}

ol {
    list-style: upper-roman;
}

ul {
    list-style: square;
}

#nav {
    position: fixed;
    top: 0px;
    width: 444px;
}

#nav>ul {
    padding-left: 130px;
    background-color: powderblue;
}

#nav>ul>li {
    display: inline;
    position: relative;
}

#nav a+ul {
    display: none;
    position: absolute;
    width: 80%;
    top: 19px;
    left: -35px;
    list-style: none;
}

#nav a+ul:hover,
#nav a:hover+ul {
    display: block;
}

#nav li {
    background-color: fuchsia;
}

#nav li:nth-child(2n) {
    background-color: powderblue;
}

a:enabled {
    color: #000;
}

a:visited {
    color: #000;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

li>a:hover {
    font-style: italic;
}

li>a:active {
    text-transform: uppercase;
}

#header {
    background: powderblue;
    padding-top: 0px;
}

#likes {
    background: powderblue;
}

#personal {
    background: powderblue;
}

#nav {
    background: powderblue;
}

#projects {
    background: powderblue;
}

#blog {
    background: powderblue;
}

/* LaTeX */
.latex sub,
.latex sup {
    text-transform: uppercase;
}

.latex sub {
    vertical-align: -0.5ex;
    margin-left: -0.1667em;
    margin-right: -0.125em;
}

.latex,
.latex sub {
    font-size: 1em;
    font-family: "Computer Modern", "Times New Roman", serif;
}

.latex sup {
    font-size: 0.85em;
    vertical-align: 0.15em;
    margin-left: -0.36em;
    margin-right: -0.15em;
}